<div id="display_content_plugin">

<h3> <%= _('Choose which attributes should be displayed and drag to reorder them:') %> </h3>

<table class="sections">
  <tbody id="sortable">
  <% for section in @block.sections do %>
  <tr>
    <td><%= hidden_field_tag 'block[sections][][name]', section[:name] %> <%= check_box_tag 'block[sections][][checked]', section[:name], section[:checked] %></td>
    <td><%= section[:name]%></td>
  </tr>
  <% end %>
  </tbody>
</table>

<h3> <%= _('Choose which content should be displayed:') %> </h3>
<div id="display_content">
</div>

<script type="text/javascript" >

jQuery_1_8_3("#display_content").jstree({
   plugins : ["themes","json_data", "checkbox"],
   checkbox : {
     real_checkboxes : true,
     real_checkboxes_names : function (n) { return [("block[checked_nodes[" + n.attr('node_id') + "]]"), 1]; }
   },
   themes : {"theme" : "classic", "icons" : true, "url": "/plugins/display_content/javascripts/jstree/themes/classic/style.css"},
   json_data : {
     ajax : {
         url : '<%= url_for @block.url_params %>',
         async: true,
         data : function (m) {
           return m.attr ? {"id" : m.attr("node_id")} : {};
         }
       }
   }
});

jQuery( "#sortable" ).sortable();

</script>
</div>
